<div class="footer-strip__container flex align-center space-between p-a-1-1">
    <span>© 2020 All Rights Reserved
    </span>
    <span class="flex space-between">
        <div class="social-media__box bg-white m-r-1"><img src="/img/whatsapp.png"></div>
        <div class="social-media__box bg-white m-r-1"><img src="/img/insta.png"></div>
        <div class="social-media__box bg-white m-r-1"><img src="/img/fb.png"></div>
        <div class="social-media__box bg-white m-r-1"><img src="/img/youtube.png"></div>
    </span>
</div>