<div class="sale-container flex align-center f-14 space-between p-a-1-1">
    <span>Discount of <span class="txt-primary">10%</span> is applicable on all the programs. Sale is valid upto <span
            class="txt-primary">30th September</span>!!</span>
    <span class="flex align-center">
        <img src="/img/weather.png" class="bg-white m-r-1" height="30" width="35" alt="try scuba">
        <span class="f-14">Havelock</span></span>
    <span class="flex space-between">
        <div class="social-media__box bg-white m-r-1"><img src="/img/whatsapp.png"></div>
        <div class="social-media__box bg-white m-r-1"><img src="/img/insta.png"></div>
        <div class="social-media__box bg-white m-r-1"><img src="/img/fb.png"></div>
        <div class="social-media__box bg-white m-r-1"><img src="/img/youtube.png"></div>
    </span>
</div>