<div class="pure-g p-y-8 p-b-0">
	<div class="pure-u-1-3 flex-column-container p-l-5 txt-blue-1">
        <h3 class="f-14 txt-primary" >APPROVED BY</h3>
		<div class="footer-link__box p-y-8">
			<div class="f-12">Tourism Department, A&N Islands</div>
		</div>
	</div>
	<div class="pure-u-1-3 flex-column-container p-l-5 txt-blue-1">
        <h3 class="f-14 txt-primary">QUICK LINKS</h3>
		<div class="footer-link__box p-y-8">
			<div class="f-12">Terms & Conditions</div>
            <div class="f-12 m-t-1">Privacy policy</div>
            <div class="f-12 m-t-1">FAQ's</div>
            <div class="f-12 m-t-1">Learning Scuba Diving - The Open Water Diver</div>
            <div class="f-12 m-t-1">Try Scuba - 1 day experience</div>
		</div>
	</div>
	<div class="pure-u-1-3 flex-column-container p-l-5 txt-blue-1">
        <h3 class="f-14 txt-primary">SCUBANAUT IN HAVELOCK</h3>
		<div class="footer-link__box p-y-8">
			<div class="f-12 address address__line">Scubanaut, Opp Virgin Beach Resort,</div>
            <div class="f-12 m-t-1">Beach #1, Goving Nagar,</div>
            <div class="f-12 m-t-1">Havelock Island,</div>
            <div class="f-12 m-t-1">South Andamans, India</div>
            <div class="f-12 m-t-1 address phone__line">+91 9531963624</div>
            <div class="f-12 m-t-1 address mail__line">dive@scubanaut.in</div>
		</div>
	</div>
</div>
{{> footer-strip }}