<section class="homepage__container">
	{{#> base }}
	{{> sale }}

	{{> nav }}
	<div class="pure-g p-y-8">
		<div class="pure-u-1-2 flex-column-container txt-white align-center justify-center txt-white">
			<div class="bg-white scuba-dive__box">
				<img src="/img/tryscuba.png" height="80" width="90" alt="try scuba">
			</div>
			<div class="m-t-2 f-18">Experience scuba diving</div>
			<div class="f-18">in a day</div>
			<button class="scuba__btn p-a-0-1 p-x-1 f-14">TRY SCUBA</button>
		</div>
		<div class="pure-u-1-2 flex-column-container txt-white align-center justify-center txt-white">
			<div class="bg-white scuba-dive__box">
				<img src="/img/learnscuba.png" height="80" width="90" alt="learn scuba">
			</div>
			<div class="m-t-2 f-18">Get your introductory</div>
			<div class="f-18">scuba diving licence now</div>
			<button class="scuba__btn p-a-0-1 p-x-1 f-14">LEARN SCUBA</button>
		</div>
	</div>
	<section class="p-y-8">
		{{> header headerText='WHY SCUBA DIVE?' content='Did you know that 70% of the planet is covered with water and over 21,000 species of fish live in it? Scuba Diving gives you that freedom to explore those unexpected underwater territories and the best part is you don’t have to physically exert yourself in the process. A lot of Scuba Divers agree with us that the very act of staying under the eater tend to be meditative and relieves stress from day to day life. Do sign up for our Open Water Diver program to know how this is going to change your life.' }}
	</section>
	<section class="p-y-3">
		{{> header headerText='WHY HAVELOCK?' content='Havelock Island is considered the birthplace of Scuba Diving in Andaman Islands. So the real question here is Why not Havelock?' }}
	</section>
	<section class="p-y-8">
		{{> header headerText='WHY CHOOSE SCUBANAUT?' }}
	</section>

	<div class="pure-g p-y-8">
		<div class="pure-u-1-3 flex-column-container align-center justify-center txt-blue-1">
			<div class="txt-center scuba-dive__box">
				<img src="/img/group.png" class="bg-white" height="40" width="50" alt="try scuba">
				<div class="f-16 m-t-1 txt-primary">Small Groups</div>
			</div>
			<div class="m-t-3 f-14">We like to train our</div>
			<div class="f-14">students in a small group.</div>
		</div>
		<div class="pure-u-1-3 flex-column-container align-center justify-center txt-blue-1">
			<div class="txt-center scuba-dive__box">
				<img src="/img/team.png" class="bg-white" height="40" width="50" alt="learn scuba">
				<div class="f-16  m-t-1 txt-primary">Our FriendLy Team</div>
			</div>
			<div class="m-t-3 f-14">We go out of our way</div>
			<div class="f-14">to help our guests.</div>
		</div>
		<div class="pure-u-1-3 flex-column-container align-center justify-center txt-blue-1">
			<div class="txt-center scuba-dive__box">
				<img src="/img/location.png" class="bg-white" height="40" width="30" alt="learn scuba">
				<div class="f-16 m-t-1 txt-primary">Location</div>
			</div>
			<div class="m-t-3 f-14">We are a 5 minute walk</div>
			<div class="f-14">away from the jetty</div>
		</div>
	</div>

	<div class="p-y-8 rating__container flex-column-container justify-center">
		<div class="txt-center scuba-dive__box">
			<img src="/img/rating.png" class="bg-white" height="40" width="50" alt="try scuba">
			<div class="f-16 m-t-1 txt-primary">Highly Rated</div>
		</div>
	</div>

	{{> footer }}

	{{/ base }}

</section>