<nav class="nav flex align-center p-y-3 p-x-3">
  <img src="/img/logo.png" width="100" height="100" alt="logo" class="logo">
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-allow-hover"><a id="menuLink1" href="#">SCUBA
          DIVING</a>
        {{!-- <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>
            </ul> --}}
      </li>
      <li class="pure-menu-item"><a href="#">KAYAKING</a></li>
      <li class="pure-menu-item"><a href="#">STAY WITH US</a></li>
      <li class="pure-menu-item"><a href="#">TRAVEL ASSIST</a></li>
      <li class="pure-menu-item"><a href="#">CONTACT US</a></li>
    </ul>
  </div>
</nav>